@mixin clearfix {
	zoom: 1;
	&:before, &:after { content: ''; display: table; }
	&:after { clear: both; }
}

$input-line-height: 23px;
$input-horizontal-padding: 3px;
$input-vertical-padding: 7px;

$outline-color: #333;

$label-font-size-focus-on: 12px;
$label-font-size-focus-off: 14px;

$icon-size: 17px;

$tooltip-background-color: #333;
$tooltip-caret-height: 10px;

$error-color: red;

.validation--messaging {
	display: none;
	margin: 25px 0;
	text-align: center;

	ul {
		border: solid 1px #000;
		border-radius: 5px;
		display: inline-block;
		padding: 25px;
		text-align: left;

		li {
			list-style-position: inside;
			white-space: nowrap;
		}
	}

	&.opened {
		display: table-cell;
	}
}

form {
	box-sizing: border-box;
	line-height: 2.4em;
	padding: 50px;
	position: relative;
	z-index: 0;

	select,
	textarea {
		outline: 1px solid $outline-color;
	}

	label {
		display: block;
	}

	input {
		padding: 5px 7px;

		&:focus {
			outline-color: #333;
		}

		&:required {
			&:valid {

			}

			&:invalid {
			}
		}

		&:valid {

		}

		&:invalid {
		}

		&:not([type='checkbox']):not([type='radio']) {
			outline: 1px solid $outline-color;
		}
	}

	.validation--error {
		.validation--message {
			color: $error-color;
		}
	}
}

.validation--message {
	color: transparent;
	display: block;
	line-height: 2.4em;
	min-height: 2.4em;
}

fieldset {
	@include clearfix();
	border: none;
	margin: 0;
	padding: 0;
	position: relative;

	&.inline {
		select,
		textarea,
		input {
			display: inline-block;
		}
	}
}

.input--hint {
	display: inline-block;
	margin-left: 7px;
	position: relative;

	&:before {
		border-radius: 50px;
		border: solid 1px #666;
		color: #666;
		content: 'i';
		display: inline-block;
		font-size: .75em;
		height: $icon-size;
		line-height: 16px;
		text-align: center;
		width: $icon-size;
	}

	.input--tooltip {
		background: $tooltip-background-color;
		border-radius: 10px;
		color: #fff;
		display: none;
		font-size: 12px;
		margin-top: -$icon-size/2;
		padding: 15px 17px;
		position: absolute;
		transform: translate3d($icon-size + 15px, -50%, 0);
		width: 18.75em;

		&:after {
			border-bottom: $tooltip-caret-height solid transparent;
			border-right: $tooltip-caret-height solid $tooltip-background-color;
			border-top: $tooltip-caret-height solid transparent;
			content: '';
			height: 0;
			left: -$tooltip-caret-height;
			margin-top: -$tooltip-caret-height;
			position: absolute;
			top: 50%;
			width: 0;
		}

		ul {
			list-style-position: outside;
			margin: 0;
			padding-left: 15px;
		}
	}

	&:active,
	&:hover {
		.input--tooltip {
			display: block;
		}
	}
}
