<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Forms Usablity</title>
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width" />

	<link rel="stylesheet" href="styles/app.min.css">
</head>
<body>

	<div class="validation--messaging">
		<ul>
			<li>This.</li>
			<li>Is.</li>
			<li>Required.</li>
		</ul>
	</div>

	<form class="ux--form" novalidate>
		<h1>UX Forms</h1>
		<p>Default states for inputs and input groups.</p>

		<section>
			<h2>General Input</h2>
			<fieldset class="ux--form--group">
				<label for="general-input">Email</label>
				<input id="general-input" type="email" title="General Input" />
			</fieldset>
		</section>

		<section>
			<h2>Input with tooltip hint</h2>
			<fieldset class="ux--form--group">
				<label for="tooltip-hint">Tooltip Hint</label>
				<input id="tooltip-hint" type="text" />
				<div class="input--hint">
					<div class="input--tooltip">
						<ul>
							<li>Some helpful.</li>
							<li>Information.</li>
							<li>Listed here.</li>
						</ul>
					</div>
				</div>
			</fieldset>
		</section>

		<section>
			<h2>Password + Required Input</h2>
			<fieldset class="ux--form--group">
				<label for="password">Password</label>
				<input id="password" type="password" aria-required="true" aria-invalid="false" required />
				<div class="input--hint">
					<div class="input--tooltip">
						<ul>
							<li>Be at least eight characters long</li>
							<li>Contain at leaset one of each of these: uppercase letters, lowercase letters, numbers, symbols.</li>
							<li>Don't contain the user's user name or screen name.</li>
						</ul>
					</div>
				</div>
			</fieldset>
		</section>

		<section>
			<h2>Validation Error</h2>
			<fieldset class="ux--form--group validation--error">
				<label for="validation-error">Validation Error</label>
				<input id="validation-error" type="text" title="Validation Error" value="This is required." />
			</fieldset>
		</section>

		<section>
			<h2>Checkboxes</h2>
			<fieldset class="ux--form--group">
				<label for="chk1">
					<input id="chk1" type="checkbox" aria-checked="false" /> Checkbox 2
				</label>
			</fieldset>

			<fieldset class="ux--form--group">
				<label for="chk2">
					<input id="chk2" type="checkbox" aria-checked="false" /> Checkbox 2
				</label>
			</fieldset>
		</section>

		<section>
			<h2>Radio Buttons</h2>
			<fieldset class="ux--form--group">
				<label for="rdio1">
					<input id="rdio1" name="rdio-grp" type="radio" aria-checked="false" /> Radio 1
				</label>

				<div class="validation--message--inline">This is required.</div>
			</fieldset>

			<fieldset class="ux--form--group">
				<label for="rdio2">
					<input id="rdio2" name="rdio-grp" type="radio" aria-checked="false" /> Radio 2
				</label>
			</fieldset>

			<fieldset class="ux--form--group">
				<label for="rdio3">
					<input id="rdio3" name="rdio-grp" type="radio" aria-checked="false" /> Radio 3
				</label>
			</fieldset>
		</section>

		<section>
			<h2>Gulp Implementation</h2>

			<UXText id="foo" name="" value="" pattern="">
				<label>Text</label>
			</UXText>

			<UXText id="" name="" value="" pattern="">
				<label>Text</label>
			</UXText>

			<UXText id="" name="" value="" pattern="">
				<label>Text</label>
			</UXText>

			<UXCheckbox id="" name="" value="">
				<label>Text</label>
			</UXCheckbox>

			<UXRadio id="" name="" value="">
				<label>Text</label>
			</UXRadio>

			<UXTextArea id="" name="" value="">
				<label>Text</label>
			</UXTextArea>

			<UXPassword id="" name="" value="" placeHolder="" label="" required="" error-message="">
				<label>Text</label>
			</UXPassword>

		</section>
	</form>
</body>
</html>
