<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Forms Usablity</title>
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width" />

	<link rel="stylesheet" href="styles/app.min.css">
</head>
<body>

	<div class="validation--messaging">
		<ul>
			<li>This.</li>
			<li>Is.</li>
			<li>Required.</li>
		</ul>
	</div>

	<form novalidate>
		<h1>Order Form</h1>

		<section>
			<h2>User Information</h2>

			<fieldset>
				<label for="email">Email</label>
				<input id="email" type="email" title="Email" />
			</fieldset>

			<fieldset>
				<label for="password">Password</label>
				<input id="password" type="password" aria-required="true" aria-invalid="false" required />
				<div class="input--hint">
					<div class="input--tooltip">
						<ul>
							<li>Be at least eight characters long</li>
							<li>Contain at leaset one of each of these: uppercase letters, lowercase letters, numbers, symbols.</li>
							<li>Don't contain the user's user name or screen name.</li>
						</ul>
					</div>
				</div>
			</fieldset>
		</section>

		<section>
			<h2>Shipping Information</h2>
			<fieldset>
				<label for="company">Company or Organization Name</label>
				<input id="company" type="text" title="Company or Organization Name" />
				<div class="validation--message"></div>
			</fieldset>

			<fieldset>
				<label for="firstName">First Name</label>
				<input id="firstName" type="text" title="First Name" />
				<div class="validation--message"></div>
			</fieldset>

			<fieldset>
				<label for="lastName">Last Name</label>
				<input id="lastName" type="text" title="Last Name" />
				<div class="validation--message"></div>
			</fieldset>

			<fieldset>
				<label for="address">Address</label>
				<input id="address" type="text" title="Address" />
				<div class="validation--message"></div>
			</fieldset>

			<fieldset>
				<label for="city">City</label>
				<input id="city" type="text" title="City" />
				<div class="validation--message"></div>
			</fieldset>

			<fieldset>
				<label for="state">State</label>
				<select id="state">
					<option>Gary Payton</option>
					<option>Marshawn Lynch</option>
					<option>Ken Griffey Jr.</option>
					<option>Shawn Kemp</option>
					<option>Steve Largent</option>
				</select>
				<div class="validation--message"></div>
			</fieldset>

			<fieldset>
				<label for="zipCode">Zip Code</label>
				<input id="zipCode" type="text" title="Zip Code" />
				<div class="validation--message"></div>
			</fieldset>

			<fieldset>
				<label for="phone">Phone Number</label>
				<input id="phone" type="tel" title="Phone Number" />
				<div class="validation--message"></div>
			</fieldset>

			<fieldset>
				<label for="ext">Extension</label>
				<input id="ext" type="number" title="Extension" />
				<div class="validation--message"></div>
			</fieldset>
		</section>

		<section>
			<h2>Billing Information</h2>
			<fieldset class="inline">
				<label for="sameAsShipping">
					<input id="sameAsShipping" type="checkbox" aria-checked="false" /> Same as Shipping?
				</label>
			</fieldset>

			<fieldset>
				<label for="cc">Credit Card #</label>
				<input id="cc" type="number" title="Credit Card #" />
				<div class="validation--message"></div>
			</fieldset>

			<fieldset>
				<label for="exp-mm">Exp Month</label>
				<input id="exp-mm" type="number" title="Exp Month" />
				<div class="validation--message"></div>
			</fieldset>

			<fieldset>
				<label for="exp-dd">Exp Day</label>
				<input id="exp-dd" type="number" title="Exp Day" />
				<div class="validation--message"></div>
			</fieldset>

			<fieldset>
				<label for="firstName">First Name</label>
				<input id="firstName" type="text" title="First Name" />
				<div class="validation--message"></div>
			</fieldset>

			<fieldset>
				<label for="lastName">Last Name</label>
				<input id="lastName" type="text" title="Last Name" />
				<div class="validation--message"></div>
			</fieldset>

			<fieldset>
				<label for="address">Address</label>
				<input id="address" type="text" title="Address" />
				<div class="validation--message"></div>
			</fieldset>

			<fieldset>
				<label for="city">City</label>
				<input id="city" type="text" title="City" />
				<div class="validation--message"></div>
			</fieldset>

			<fieldset>
				<label for="state">State</label>
				<select id="state">
					<option>Gary Payton</option>
					<option>Marshawn Lynch</option>
					<option>Ken Griffey Jr.</option>
					<option>Shawn Kemp</option>
					<option>Steve Largent</option>
				</select>
				<div class="validation--message"></div>
			</fieldset>

			<fieldset>
				<label for="zipCode">Zip Code</label>
				<input id="zipCode" type="text" title="Zip Code" />
				<div class="validation--message"></div>
			</fieldset>

			<fieldset>
				<label for="phone">Phone Number</label>
				<input id="phone" type="tel" title="Phone Number" />
				<div class="validation--message"></div>
			</fieldset>

			<fieldset>
				<label for="ext">Extension</label>
				<input id="ext" type="number" title="Extension" />
				<div class="validation--message"></div>
			</fieldset>
		</section>

		<section>
			<h2>Newsletter?</h2>
			<fieldset class="inline">
				<label for="yes">
					<input id="yes" name="newsletter" type="radio" aria-checked="false" /> Yes
				</label>
			</fieldset>

			<fieldset class="inline">
				<label for="no">
					<input id="no" name="newsletter" type="radio" aria-checked="false" /> No
				</label>
			</fieldset>
		</section>

		<section>
			<h2>Validation Error</h2>
			<fieldset class="validation--error">
				<label for="validation-error">Validation Error</label>
				<input id="validation-error" type="text" title="Validation Error" />
				<div class="validation--message">This is required.</div>
			</fieldset>
		</section>

		<section>
			<button type="submit">Submit</button>
		</section>
	</form>

	<script src="/js/app.js"></script>
</body>
</html>
